<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Portfolio">
  <meta name="author" content="bellush">
  <link rel="stylesheet" href="/main.css">
  <title>bellush</title>
  <script src="https://kit.fontawesome.com/905d7a3a95.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
  <script src="main.js" defer></script>
</head>
<body>
  <div class="header">
    
  </div>
</body>
</html>