<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Portfolio">
  <meta name="author" content="bellush">
  <title>bellush</title>
  <script src="https://kit.fontawesome.com/905d7a3a95.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../public/main.css">
  <script src="main.js" defer></script>
</head>
<body>
  <header>
    <span class="header__logo">bellush</span>
    <nav>
        <span class="home">Home</span>
        <span class="about">About</span>
        <span class="skills">Skills</span>
        <span class="mywork">Mywork</span>
        <span class="terminal">Teminal</span>
        <span class="contact">Contact</span>
    </nav>
    <div class="header__profile">
      <div><img src="../imgs/제주도 리즈.jpg" alt=""> </div>
    </div>
    <div class="header__description">
      <br>
        <h1>Hello,</h1>
        <br>I'm bellush</br>
        <br>A Software Engineer currently residing in Seoul, Korea</br>
      </div>
    </div>
  </header>
  <div class="about__me">
    <div><h1>About me</h1></div>
    <div>Captain kim</div>
  </div>
  <footer>
    <div class="footer__talk">Contact bellush kakao</div>
  </footer>

</body>
</html>